{% load applicationcontent_tags feincms_tags feincms_page_tags %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
<head>
    <title>{{ feincms_page.title }}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/boilerplate.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/grid.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/forms.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/global.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}lib/jquery-moodboard/moodboard.css" />

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ MEDIA_URL }}lib/jquery/jquery-1.6.1.min.js">\x3C/script>')</script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/global.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}lib/jquery-moodboard/moodboard.js"></script>

</head>
<body>
    <h1>{{ feincms_page.title }}</h1>

    <div id="navigation" class="clearfix">
        {% feincms_nav feincms_page level=1 as toplevel %}
        {% for p in toplevel %}
        <a {% if p|is_equal_or_parent_of:feincms_page %}class="mark"{% endif %} href="{{ p.get_absolute_url }}">{{ p.title }}</a>
        {% endfor %}
    </div>

    <div id="wrapper">
        <div id="main">
            <h2>Main content</h2>
            {% block content %}{% feincms_render_region feincms_page "main" request %}{% endblock %}
        </div>

        <div id="sidebar">
            <h2>Sidebar content</h2>
                {% feincms_nav feincms_page level=2 as sublevel %}
                {% for p in sublevel %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    No subpages
                {% endfor %}

                {% block sidebar %}{% feincms_render_region feincms_page "sidebar" request %}{% endblock %}
            </div>
        </div>

        {% feincms_frontend_editing feincms_page request %}

        <span id="something">{% get_fragment request "something" %}</span>
    </body>
</html>
